<h1>Spotify Search</h1>
<div class="search-spotify-container">
    <input type="text" [(ngModel)]="searchString" placeholder="Search" class="input">
    <button mat-raised-button (click)="searchSpotify($event)" [disabled]="searchString == undefined || searchString == ''" class="input-button">Search</button>
  </div>
<div class="playlist-container">
    <div class="scroll-container">
      <div class="sticky-header">
        <h1>Spotify Search</h1>
      </div>
      <ul class="playlist">
        <li *ngFor="let song of searchData" class="song">
          <div class="song-image"><img src="{{song.album.images[0].url}}"></div>
          <div class="song-details">
            <div class="song-title">{{song.name}}</div>
            <div class="song-artist">{{song.artists[0].name}}</div>
            <button [disabled]="!queue.inQueue || queue.requestedSongs.includes(song.id)" mat-raised-button (click)="addSong($event, song)" class="request-button">Request</button>
          </div>
        </li>
      </ul>
    </div>
  </div>