<h1>Queue Song List</h1>
<div class="playlist-container">
    <div class="sticky-header">
      <h1>{{queue.currentQueueName}}</h1>
      <h4>Code: {{queue.setCode}}</h4>
    </div>
    <ul class="playlist">
      <li *ngFor="let song of queue.queueSongs, let i = index" class="song">
        <div class="song-image"><img src="{{song.album.images[0].url}}"></div>
        <div class="song-details">
          <div class="song-title">{{song.name}}</div>
          <div class="song-artist">{{song.artists[0].name}}</div>
          <button [disabled]="!queue.inQueue || queue.requestedSongs.includes(song.id) || maxVotes" mat-raised-button (click)="addSong($event, song)" class="request-button">Request</button>
          <div class="request-count">{{song.count}} Requests</div>
        </div>
      </li>
    </ul>
    <button class="search-spotify-button" routerLink="/search" routerLinkActive="active"><mat-icon>add</mat-icon></button>
  </div>
  <p *ngIf="errorMessage != ''" style="font-weight: 700; color: #aa0000;" class="fade-in-out">{{errorMessage}}</p>
  <div style="display: flex; align-items: center; justify-content: center; border-radius: 6px; font-size: 18px; padding: 0 15px; border: 2px solid #fff; color: #ddd; text-align: center; outline: none; background-color: rgba(54, 25, 25, .2);" *ngIf="queue.queueSessionId == websocketService.sessionID && queue.setCode != '' && queue.inQueue"><p > You made this queue!</p></div>
