<h1 style="text-align: center;">Join Queue</h1>
<div class="join-queue-container">
    <input type="text" [(ngModel)]="inputCode" class="code" onfocus="this.placeholder=''" onBlur="this.placeholder='Code'" [placeholder]="'Code'">
    <br>
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px;">
        <button (click)="joinQueue($event)" [disabled]="queue.inQueue" class="input-button" [disabled]="inputCode.length != 4">Join Queue</button>
    </div>
    </div>
<p *ngIf="errorMessage != ''" style="font-weight: 700; color: #aa0000; position: fixed; bottom: 50px; left: 50%;" class="fade-in-out">{{errorMessage}}</p>
