.create-queue-container{
    margin-top: 75px;
}

input {
    width: 300px;
    height: 60px;
    border-radius: 6px;
    font-size: 28px;
    padding: 0 15px;
    border: 2px solid #fff;
    color: #eaeaea;
    text-align: center;
    outline: none;
    background-color: rgba(54, 25, 25, .2);
}

/* Placeholder Styling */
::placeholder { 
    color: #ccc;
    font-size: 24px;
    opacity: 1; /* Firefox */
}

.back-button{
  position: fixed !important; 
  top: 15px; 
  left: 15px;
  width: 40px; 
  height: 40px; 
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  display: flex; 
  justify-content: center; 
  align-items: center; 
  border: transparent;
}

.back-button mat-icon{
  transform: scale(0.9);
}

.back-button:hover{
  filter: brightness(0.8);
  cursor: pointer;
}

.back-button:active{
  filter: brightness(0.7);
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .fade-in-out {
    animation: fadeInOut 3s ease-in-out;
  }